.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.item {
    background: linear-gradient(to top, #182237, #253352);
    padding: 20px 24px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.bgContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}

.buttonSubmit{
    width: 100%;
    padding: 30px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }